<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gong_don_android">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gongdonandroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PostActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"></activity>
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchActivity"
            android:exported="false"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>